    body {
        color: black;
        background-color: #efefef;
        margin: 0;
    }

    a {
        text-decoration: none;
        color:inherit;
    }

    * {
        margin: 0;
        padding: 0;
    }

    ul,ol{
        list-style: none;
    }

    h1,h2,h3,h4,h5,h6{
        font-weight: normal;
    }

    .shadowed{
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
    }

    .topNavBar {
        padding: 20px 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    
    .topNavBar .inner {
        padding: 0 16px;
    }
    
    .topNavBar a {
        float: left;
        text-decoration: none;
        color: white;
    }
    
    .topNavBar .logo {
        padding-top: 3px;
        padding-bottom: 4px;
        font-size: 24px;
        font-family: "Arial-Black";
    }
    
    .topNavBar .rs {
        margin-right: 4px;
        color: #e6686a
    }
    
    .topNavBar .card {
        color: #9a9da2;
    }
    
    .topNavBar nav {
        padding-top: 7px;
        float: right;
        color:rgba(255, 255, 255, 0.7)
    }
    
    .topNavBar nav>ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .topNavBar nav>ul>li {
        float: left;
        margin-left: 17px;
        margin-right: 17px;
    }
    
    .topNavBar nav>ul>li>a {
        color:inherit;
        /* color: rgba(255, 255, 255, 0.7); */
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        border-bottom: 3px solid transparent;
        border-top: 3px solid transparent;
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
    }
    
    .topNavBar nav>ul>li>a:hover {
        border-bottom: 3px solid #e06567;
    }
    
    .clearfix::after {
        content: '';
        display: block;
        clear: both;
    }
    
    .banner {
        height: 515px;
        background: grey url('img/cover.png') center;
        background-size: cover;
    }
    
    .banner .mask {
        height: 515px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
      .userCard {
        max-width: 940px;
        margin: 0 auto;
        margin-top: -340px;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        
    }
    
      .userCard .welcome {
        background-color: #e6686a;
        color: white;
        text-align: center;
        padding: 4px 16px;
        line-height: 22px;
        position: relative;
        display: inline-block;
        margin-bottom: 10px;
    }
    
     .userCard .triangle {
        border: 10px solid transparent;
        height: 0px;
        border-top-width: 0px;
        border-left-color: #e6686a;
        display: block;
        position: absolute;
        left: 5px;
        top: 100%;
    }

      .userCard .pictureAndText{
        padding: 50px;
    }

      .userCard .picture {
        float: left;
    }
    
      .userCard .text {
        float: left;
        margin-left:65px;
        width:470px;
    }

      .userCard .text h1{
        margin-top: 18px;
        margin-bottom: 8px;
    }

      hr {
        height: 0;
        border: none;
        border-top: 1px solid #DEDEDE;
    }

      .userCard .pictureAndText .text hr {
        margin:20px 0;
    }

      .userCard .pictureAndText.text dl dt,
      .userCard .pictureAndText.text dl dd{
        float:left;
        padding: 5px 0;
    }

      .userCard .pictureAndText.text dl dt{
        width: 30%;
        font-weight: bold;
    }

      .userCard .pictureAndText.text dl dd{
        width: 70%;
        color: #9da0a7;
    }
 
      .userCard footer.media{
        background-color:#e8676b;
        text-align: center;
    }
    
      .userCard footer.media svg.icon{
        width:30px;
        height: 30px;
        fill:white;
        /* margin: 0 16px; */
        vertical-align: top;
    }

      .userCard footer.media > a{
        display: inline-block;
        width:40px;
        padding:5px 0;
        border-radius: 50%;
        margin: 16px;
    }

      .userCard footer.media > a:hover{
        background: rgba(0, 0, 0, 0.1);

    }
      .downloadResume-wrapper{
        text-align: center;

    }
      .downloadResume{
        font-size: 14px;
        line-height: 16px;
        padding: 21px 55px;
        border:1px solid rgb(203, 205, 207);
        margin: 32px;
        display: inline-block;
        border-radius: 2px;
        color: #3d4451;
        font-weight: bold;

    }   
      .downloadResume:hover{
        opacity: 0.95;
        text-decoration: none;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        transition: all 0.2s;
    }

      p.selfIntroduction{
        max-width: 940px;
        margin: 0 auto;
        text-align: center;
        font-family: kai;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.8;
    }

    section.skills{
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    section.skills > h2{
        text-align: center;
        color: #3d4451;
        font-size: 34px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 25px;
    }

    section.skills > ol{
        padding: 40px 50px 50px 50px;
        background:#fff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    }

    section.skills ol .liWrapper{
        margin-left:-15px;
        margin-right: -15px;
    }
    section.skills ol li{
        box-sizing: border-box;
        float: left;
        width: 50%;
        margin-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }
    section.skills ol .liWrapper:nth-last-child(1){
        margin-bottom: -40px;
    }
    
    section.skills ol li h3{
        font-family: "Open Sans";        
        font-size: 14px;
        line-height: 1.1;
        padding-right: 40px;
        margin-bottom: 5px;
    }

    section.skills .progressBar{
        height: 5px;
        background:#fce1e2;
        border-radius: 2px;
        /* margin-bottom: 5px; */
    }

    section.skills .progressBar .progress{
        background: #e8676b;
        width:70%;
        height: 100%;
        border-radius: 2px;
    }